<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HotVPN 관리 솔루션</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <link rel="stylesheet" href="/css/ip-order.css">
</head>
<body>
    <div id="admin">
        <header th:replace="~{header :: header}"></header>
        <section id="content">
            <div class="menu-title">
                <h2>아이피 교체권 주문 내역<span>주문 관리</span></h2>
                <div class="user">
                    <p>홍길동<span>상담원</span></p>
                    <button type="button">로그아웃</button>
                    <p><img src="/img/new.png" alt="new icon">1:1문의<span>1,000</span>건</p>
                </div>
            </div>
            <div class="content-area">
                <div class="search">
                    <div class="search-top">
                        <ul>
                            <li>전체 아이피 교체권 주문 내역<span>1,000</span>개</li>
                            <li>결제 완료<span>1,000</span>개</li>
                            <li>전체 취소<span>1,000</span>개</li>
                            <li>부분 취소<span>1,000</span>개</li>
                        </ul>
                    </div>
                    <div class="filter">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>주문번호</p>
                                        <input type="number" placeholder="주문번호를(을) 입력해주세요.">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="half">
                                        <p>주문 상태</p>
                                        <div class="checkbox">
                                            <input type="checkbox" id="check" checked>
                                            <label for="check">전체</label>
                                            <input type="checkbox" id="check2" checked>
                                            <label for="check2">결제 완료</label>
                                            <input type="checkbox" id="check3" checked>
                                            <label for="check3">전체 취소</label>
                                            <input type="checkbox" id="check4" checked>
                                            <label for="check4">서비스 취소</label>
                                            <input type="checkbox" id="check5" checked>
                                            <label for="check5">부분 취소</label>
                                        </div>                                        
                                    </td>
                                    <td class="half">
                                        <p>결제 수단</p>
                                        <div class="checkbox">
                                            <input type="checkbox" id="check6" checked>
                                            <label for="check6">전체</label>
                                            <input type="checkbox" id="check7" checked>
                                            <label for="check7">신용카드</label>
                                            <input type="checkbox" id="check8" checked>
                                            <label for="check8">계좌이체</label>
                                            <input type="checkbox" id="check9" checked>
                                            <label for="check9">가상계좌</label>
                                            <input type="checkbox" id="check10" checked>
                                            <label for="check10">휴대폰</label>
                                        </div>                                           
                                    </td>
                                </tr>
                                <tr>
                                    <td class="half">
                                        <p>회원 아이디</p>
                                        <input type="text" placeholder="아이디를(을) 입력해주세요.">
                                    </td>
                                    <td class="half">
                                        <p>이름</p>
                                        <input type="text" placeholder="이름를(을) 입력해주세요.">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="half">
                                        <p>휴대폰</p>
                                        <input type="text" placeholder="휴대폰를(을) 입력해주세요.">
                                    </td>
                                    <td class="half">
                                        <p>결제일</p>
                                        <div class="date-wrap">
                                            <div class="date-control">
                                                <input type="number" placeholder="2024-01-01 00:00:00">
                                                <button type="button" class="date-popup-btn" onclick="datePopup(this)"></button>
                                                <div th:replace="~{date-popup :: date-popup}">
                                            </div>
                                            <p>~</p>
                                            <div class="date-control">
                                                <input type="number" placeholder="2024-01-01 00:00:00">
                                                <button type="button" class="date-popup-btn2"><span>none</span></button>
                                                <div class="date-popup2"></div>
                                                <div class="date-popup-wrap2">
                                                    <div class="date-year">
                                                        <button type="button" class="date-left"><img src="/img/date1.png" alt="left arrow"></button>
                                                        <div class="date-year-select-wrap">
                                                            <div>
                                                                <button type="button">2023</button>
                                                                <p><img src="/img/down.png" class="rotate-img" alt="down arrow"></p>
                                                            </div>
                                                            <div>
                                                                <button type="button">10월</button>
                                                                <p><img src="/img/down.png" class="rotate-img" alt="down arrow"></p>
                                                            </div>
                                                        </div>
                                                        <button type="button" class="date-right"><img src="/img/date2.png" alt="right arrow"></button>
                                                    </div>
                                                    <div class="year year-select">
                                                        <button type="button">2019</button>
                                                        <button type="button">2020</button>
                                                        <button type="button">2021</button>
                                                        <button type="button">2022</button>
                                                        <button type="button">2023</button>
                                                        <button type="button">2024</button>
                                                    </div>
                                                    <div class="month month-select">
                                                        <button type="button">1월</button>
                                                        <button type="button">2월</button>
                                                        <button type="button">3월</button>
                                                        <button type="button">4월</button>
                                                        <button type="button">5월</button>
                                                        <button type="button">6월</button>
                                                        <button type="button">7월</button>
                                                        <button type="button">8월</button>
                                                        <button type="button">9월</button>
                                                        <button type="button">10월</button>
                                                        <button type="button">11월</button>
                                                        <button type="button">12월</button>
                                                    </div>
                                                    <div class="date-table">
                                                        <ul>
                                                            <li>일</li>
                                                            <li>월</li>
                                                            <li>화</li>
                                                            <li>수</li>
                                                            <li>목</li>
                                                            <li>금</li>
                                                            <li>토</li>
                                                        </ul>
                                                        <ul class="days">
                                                            <li class="date-num">1</li>
                                                            <li class="date-num">2</li>
                                                            <li class="date-num">3</li>
                                                            <li class="date-num">4</li>
                                                            <li class="date-num">5</li>
                                                            <li class="date-num">6</li>
                                                            <li class="date-num">7</li>
                                                            <li class="date-num">8</li>
                                                            <li class="date-num">9</li>
                                                            <li class="date-num">10</li>
                                                            <li class="date-num">11</li>
                                                            <li class="date-num">12</li>
                                                            <li class="date-num">13</li>
                                                            <li class="date-num">14</li>
                                                            <li class="date-num">15</li>
                                                            <li class="date-num">16</li>
                                                            <li class="date-num">17</li>
                                                            <li class="date-num">18</li>
                                                            <li class="date-num">19</li>
                                                            <li class="date-num">20</li>
                                                            <li class="date-num">21</li>
                                                            <li class="date-num">22</li>
                                                            <li class="date-num">23</li>
                                                            <li class="date-num">24</li>
                                                            <li class="date-num">25</li>
                                                            <li class="date-num">26</li>
                                                            <li class="date-num">27</li>
                                                            <li class="date-num">28</li>
                                                            <li class="date-num">29</li>
                                                            <li class="date-num">30</li>
                                                            <li class="date-num">31</li>
                                                        </ul>
                                                    </div>
                                                    <div class="date-time">
                                                        <div>
                                                            <button type="button">13</button>
                                                            <p><img src="/img/down.png" class="rotate-img" alt="down arrow"></p>
                                                        </div>
                                                        <p>시</p>
                                                        <div>
                                                            <button type="button">00</button>
                                                            <p><img src="/img/down.png" class="rotate-img" alt="down arrow"></p>
                                                        </div>
                                                        <p>분</p>
                                                        <div>
                                                            <button type="button">00</button>
                                                            <p><img src="/img/down.png" class="rotate-img" alt="down arrow"></p>
                                                        </div>
                                                        <p>초</p>
                                                    </div>
                                                    <div class="hour">
                                                        <button type="button">01</button>
                                                        <button type="button">02</button>
                                                        <button type="button">03</button>
                                                        <button type="button">04</button>
                                                        <button type="button">05</button>
                                                        <button type="button">06</button>
                                                        <button type="button">07</button>
                                                        <button type="button">08</button>
                                                        <button type="button">09</button>
                                                        <button type="button">10</button>
                                                        <button type="button">11</button>
                                                        <button type="button">12</button>
                                                        <button type="button">13</button>
                                                        <button type="button">14</button>
                                                        <button type="button">15</button>
                                                        <button type="button">16</button>
                                                        <button type="button">17</button>
                                                        <button type="button">18</button>
                                                        <button type="button">19</button>
                                                        <button type="button">20</button>
                                                        <button type="button">21</button>
                                                        <button type="button">22</button>
                                                        <button type="button">23</button>
                                                        <button type="button">24</button>
                                                    </div>
                                                    <div class="minute">
                                                        <button type="button">00</button>
                                                        <button type="button">01</button>
                                                        <button type="button">02</button>
                                                        <button type="button">03</button>
                                                        <button type="button">04</button>
                                                        <button type="button">05</button>
                                                        <button type="button">06</button>
                                                        <button type="button">07</button>
                                                        <button type="button">08</button>
                                                        <button type="button">09</button>
                                                        <button type="button">10</button>
                                                        <button type="button">11</button>
                                                        <button type="button">12</button>
                                                        <button type="button">13</button>
                                                        <button type="button">14</button>
                                                        <button type="button">15</button>
                                                        <button type="button">16</button>
                                                        <button type="button">17</button>
                                                        <button type="button">18</button>
                                                        <button type="button">19</button>
                                                        <button type="button">20</button>
                                                        <button type="button">21</button>
                                                        <button type="button">22</button>
                                                        <button type="button">23</button>
                                                        <button type="button">24</button>
                                                        <button type="button">25</button>
                                                        <button type="button">26</button>
                                                        <button type="button">27</button>
                                                        <button type="button">28</button>
                                                        <button type="button">29</button>
                                                        <button type="button">30</button>
                                                        <button type="button">31</button>
                                                        <button type="button">32</button>
                                                        <button type="button">33</button>
                                                        <button type="button">34</button>
                                                        <button type="button">35</button>
                                                        <button type="button">36</button>
                                                        <button type="button">37</button>
                                                        <button type="button">38</button>
                                                        <button type="button">39</button>
                                                        <button type="button">40</button>
                                                        <button type="button">41</button>
                                                        <button type="button">42</button>
                                                        <button type="button">43</button>
                                                        <button type="button">44</button>
                                                        <button type="button">45</button>
                                                        <button type="button">46</button>
                                                        <button type="button">47</button>
                                                        <button type="button">48</button>
                                                        <button type="button">49</button>
                                                        <button type="button">50</button>
                                                        <button type="button">51</button>
                                                        <button type="button">52</button>
                                                        <button type="button">53</button>
                                                        <button type="button">54</button>
                                                        <button type="button">55</button>
                                                        <button type="button">56</button>
                                                        <button type="button">57</button>
                                                        <button type="button">58</button>
                                                        <button type="button">59</button>
                                                        <button type="button">60</button>
                                                    </div>
                                                    <div class="second">
                                                        <button type="button">00</button>
                                                        <button type="button">01</button>
                                                        <button type="button">02</button>
                                                        <button type="button">03</button>
                                                        <button type="button">04</button>
                                                        <button type="button">05</button>
                                                        <button type="button">06</button>
                                                        <button type="button">07</button>
                                                        <button type="button">08</button>
                                                        <button type="button">09</button>
                                                        <button type="button">10</button>
                                                        <button type="button">11</button>
                                                        <button type="button">12</button>
                                                        <button type="button">13</button>
                                                        <button type="button">14</button>
                                                        <button type="button">15</button>
                                                        <button type="button">16</button>
                                                        <button type="button">17</button>
                                                        <button type="button">18</button>
                                                        <button type="button">19</button>
                                                        <button type="button">20</button>
                                                        <button type="button">21</button>
                                                        <button type="button">22</button>
                                                        <button type="button">23</button>
                                                        <button type="button">24</button>
                                                        <button type="button">25</button>
                                                        <button type="button">26</button>
                                                        <button type="button">27</button>
                                                        <button type="button">28</button>
                                                        <button type="button">29</button>
                                                        <button type="button">30</button>
                                                        <button type="button">31</button>
                                                        <button type="button">32</button>
                                                        <button type="button">33</button>
                                                        <button type="button">34</button>
                                                        <button type="button">35</button>
                                                        <button type="button">36</button>
                                                        <button type="button">37</button>
                                                        <button type="button">38</button>
                                                        <button type="button">39</button>
                                                        <button type="button">40</button>
                                                        <button type="button">41</button>
                                                        <button type="button">42</button>
                                                        <button type="button">43</button>
                                                        <button type="button">44</button>
                                                        <button type="button">45</button>
                                                        <button type="button">46</button>
                                                        <button type="button">47</button>
                                                        <button type="button">48</button>
                                                        <button type="button">49</button>
                                                        <button type="button">50</button>
                                                        <button type="button">51</button>
                                                        <button type="button">52</button>
                                                        <button type="button">53</button>
                                                        <button type="button">54</button>
                                                        <button type="button">55</button>
                                                        <button type="button">56</button>
                                                        <button type="button">57</button>
                                                        <button type="button">58</button>
                                                        <button type="button">59</button>
                                                        <button type="button">60</button>
                                                    </div>
                                                    <div class="date-btn">
                                                        <button type="button">확인</button>
                                                        <button type="button">취소</button>
                                                    </div>
                                                </div>                           
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="search-btn">
                    <button type="button">검색</button>
                    <button type="button">초기화</button>
                </div>
                <div class="order-table">
                    <table class="two-table ip-table">
                        <thead>
                            <tr>
                                <td rowspan="2">번호</td>
                                <td colspan="2">주문번호</td>
                                <td rowspan="2">
                                    <div class="th-btn">
                                        결제일
                                        <div class="table-btn">
                                            <button type="button" class="active3"><span>none</span></button>
                                            <button type="button" class="active4"><span>none</span></button>
                                        </div>
                                    </div>
                                </td>
                                <td rowspan="2">회원 아이디</td>
                                <td>이름</td>
                                <td rowspan="2">
                                    <div class="th-btn">
                                        아이피 교체권
                                        <div class="table-btn">
                                            <button type="button" class="active3"><span>none</span></button>
                                            <button type="button" class="active4"><span>none</span></button>
                                        </div>
                                    </div>
                                </td>
                                <td rowspan="2">
                                    <div class="th-btn">
                                        주문 금액<br>(VAT포함)
                                        <div class="table-btn">
                                            <button type="button" class="active3"><span>none</span></button>
                                            <button type="button" class="active4"><span>none</span></button>
                                        </div>
                                    </div>
                                </td>
                                <td rowspan="2">결제 금액</td>
                                <td rowspan="2">
                                    <div class="th-btn">
                                        취소 금액
                                        <div class="table-btn">
                                            <button type="button" class="active3"><span>none</span></button>
                                            <button type="button" class="active4"><span>none</span></button>
                                        </div>
                                    </div>
                                </td>
                                <td rowspan="2">
                                    <div class="th-btn">
                                        결제 포인트
                                        <div class="table-btn">
                                            <button type="button" class="active3"><span>none</span></button>
                                            <button type="button" class="active4"><span>none</span></button>
                                        </div>
                                    </div>
                                </td>
                                <td rowspan="2">
                                    <div class="th-btn">
                                        취소 포인트
                                        <div class="table-btn">
                                            <button type="button" class="active3"><span>none</span></button>
                                            <button type="button" class="active4"><span>none</span></button>
                                        </div>
                                    </div>
                                </td>
                                <td rowspan="2">영수증</td>
                                <td rowspan="2">보기</td>
                            </tr>
                            <tr>
                                <td>주문 상태</td>
                                <td>결제 수단</td>
                                <td>휴대폰</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="payment payment-top">
                                <td rowspan="2">1000000005</td>
                                <td colspan="2">12345678912345678</td>
                                <td rowspan="2">2020-02-02 20:20:20</td>
                                <td rowspan="2">TEST1234</td>
                                <td>홍길동</td>
                                <td rowspan="2">1,000</td>
                                <td rowspan="2">10,000 원</td>
                                <td rowspan="2">10,000 원</td>
                                <td rowspan="2">10,000 P</td>
                                <td rowspan="2">10,000 P</td>
                                <td rowspan="2">-</td>
                                <td rowspan="2">
                                    <button type="button" class="icon-button">
                                        <img src="/img/receipt.png" alt="img" class="before-img">
                                        <img src="/img/receipt2.png" alt="img" class="after-img">
                                    </button>
                                </td>
                                <td rowspan="2">
                                    <a href="ip-order-correction.html" class="icon-button2">
                                        <img src="/img/search.png" alt="img" class="before-img">
                                        <img src="/img/search2.png" alt="img" class="after-img">
                                    </a>
                                </td>
                            </tr>
                            <tr class="payment payment-bottom">
                                <td>결제 완료</td>
                                <td>신용카드</td>
                                <td>010-1234-1234</td>
                            </tr>
                            <tr class="cancellation payment-top">
                                <td rowspan="2">1000000005</td>
                                <td colspan="2">12345678912345678</td>
                                <td rowspan="2">2020-02-02 20:20:20</td>
                                <td rowspan="2">TEST1234</td>
                                <td>홍길동</td>
                                <td rowspan="2">1,000</td>
                                <td rowspan="2">10,000 원</td>
                                <td rowspan="2">10,000 원</td>
                                <td rowspan="2">10,000 원</td>
                                <td rowspan="2">10,000 P</td>
                                <td rowspan="2">10,000 P</td>
                                <td rowspan="2">
                                    <button type="button" class="icon-button">
                                        <img src="/img/receipt.png" alt="img" class="before-img">
                                        <img src="/img/receipt2.png" alt="img" class="after-img">
                                    </button>
                                </td>
                                <td rowspan="2">
                                    <a href="ip-order-correction.html" class="icon-button2">
                                        <img src="/img/search.png" alt="img" class="before-img">
                                        <img src="/img/search2.png" alt="img" class="after-img">
                                    </a>
                                </td>
                            </tr>
                            <tr class="cancellation payment-bottom">
                                <td>결제취소</td>
                                <td>신용카드</td>
                                <td>010-1234-1234</td>
                            </tr>
                            <tr class="payment payment-top">
                                <td rowspan="2">1000000005</td>
                                <td colspan="2">12345678912345678</td>
                                <td rowspan="2">2020-02-02 20:20:20</td>
                                <td rowspan="2">TEST1234</td>
                                <td>홍길동</td>
                                <td rowspan="2">1,000</td>
                                <td rowspan="2">10,000 원</td>
                                <td rowspan="2">10,000 원</td>
                                <td rowspan="2">10,000 P</td>
                                <td rowspan="2">10,000 P</td>
                                <td rowspan="2">-</td>
                                <td rowspan="2">
                                    <button type="button" class="icon-button">
                                        <img src="/img/receipt.png" alt="img" class="before-img">
                                        <img src="/img/receipt2.png" alt="img" class="after-img">
                                    </button>
                                </td>
                                <td rowspan="2">
                                    <a href="ip-order-correction.html" class="icon-button2">
                                        <img src="/img/search.png" alt="img" class="before-img">
                                        <img src="/img/search2.png" alt="img" class="after-img">
                                    </a>
                                </td>
                            </tr>
                            <tr class="payment payment-bottom">
                                <td>결제 완료</td>
                                <td>신용카드</td>
                                <td>010-1234-1234</td>
                            </tr>
                            <tr class="payment payment-top">
                                <td rowspan="2">1000000005</td>
                                <td colspan="2">12345678912345678</td>
                                <td rowspan="2">2020-02-02 20:20:20</td>
                                <td rowspan="2">TEST1234</td>
                                <td>홍길동</td>
                                <td rowspan="2">1,000</td>
                                <td rowspan="2">10,000 원</td>
                                <td rowspan="2">10,000 원</td>
                                <td rowspan="2">10,000 P</td>
                                <td rowspan="2">10,000 P</td>
                                <td rowspan="2">-</td>
                                <td rowspan="2">
                                    <button type="button" class="icon-button">
                                        <img src="/img/receipt.png" alt="img" class="before-img">
                                        <img src="/img/receipt2.png" alt="img" class="after-img">
                                    </button>
                                </td>
                                <td rowspan="2">
                                    <a href="ip-order-correction.html" class="icon-button2">
                                        <img src="/img/search.png" alt="img" class="before-img">
                                        <img src="/img/search2.png" alt="img" class="after-img">
                                    </a>
                                </td>
                            </tr>
                            <tr class="payment payment-bottom">
                                <td>결제 완료</td>
                                <td>신용카드</td>
                                <td>010-1234-1234</td>
                            </tr>
                            <tr class="payment payment-top">
                                <td rowspan="2">1000000005</td>
                                <td colspan="2">12345678912345678</td>
                                <td rowspan="2">2020-02-02 20:20:20</td>
                                <td rowspan="2">TEST1234</td>
                                <td>홍길동</td>
                                <td rowspan="2">1,000</td>
                                <td rowspan="2">10,000 원</td>
                                <td rowspan="2">10,000 원</td>
                                <td rowspan="2">10,000 P</td>
                                <td rowspan="2">10,000 P</td>
                                <td rowspan="2">-</td>
                                <td rowspan="2">
                                    <button type="button" class="icon-button">
                                        <img src="/img/receipt.png" alt="img" class="before-img">
                                        <img src="/img/receipt2.png" alt="img" class="after-img">
                                    </button>
                                </td>
                                <td rowspan="2">
                                    <a href="ip-order-correction.html" class="icon-button2">
                                        <img src="/img/search.png" alt="img" class="before-img">
                                        <img src="/img/search2.png" alt="img" class="after-img">
                                    </a>
                                </td>
                            </tr>
                            <tr class="payment payment-bottom">
                                <td>결제 완료</td>
                                <td>신용카드</td>
                                <td>010-1234-1234</td>
                            </tr>
                            <tr class="payment payment-top">
                                <td rowspan="2">1000000005</td>
                                <td colspan="2">12345678912345678</td>
                                <td rowspan="2">2020-02-02 20:20:20</td>
                                <td rowspan="2">TEST1234</td>
                                <td>홍길동</td>
                                <td rowspan="2">1,000</td>
                                <td rowspan="2">10,000 원</td>
                                <td rowspan="2">10,000 원</td>
                                <td rowspan="2">10,000 P</td>
                                <td rowspan="2">10,000 P</td>
                                <td rowspan="2">-</td>
                                <td rowspan="2">
                                    <button type="button" class="icon-button">
                                        <img src="/img/receipt.png" alt="img" class="before-img">
                                        <img src="/img/receipt2.png" alt="img" class="after-img">
                                    </button>
                                </td>
                                <td rowspan="2">
                                    <a href="ip-order-correction.html" class="icon-button2">
                                        <img src="/img/search.png" alt="img" class="before-img">
                                        <img src="/img/search2.png" alt="img" class="after-img">
                                    </a>
                                </td>
                            </tr>
                            <tr class="payment payment-bottom">
                                <td>결제 완료</td>
                                <td>신용카드</td>
                                <td>010-1234-1234</td>
                            </tr>
                            <tr class="payment payment-top">
                                <td rowspan="2">1000000005</td>
                                <td colspan="2">12345678912345678</td>
                                <td rowspan="2">2020-02-02 20:20:20</td>
                                <td rowspan="2">TEST1234</td>
                                <td>홍길동</td>
                                <td rowspan="2">1,000</td>
                                <td rowspan="2">10,000 원</td>
                                <td rowspan="2">10,000 원</td>
                                <td rowspan="2">10,000 P</td>
                                <td rowspan="2">10,000 P</td>
                                <td rowspan="2">-</td>
                                <td rowspan="2">
                                    <button type="button" class="icon-button">
                                        <img src="/img/receipt.png" alt="img" class="before-img">
                                        <img src="/img/receipt2.png" alt="img" class="after-img">
                                    </button>
                                </td>
                                <td rowspan="2">
                                    <a href="ip-order-correction.html" class="icon-button2">
                                        <img src="/img/search.png" alt="img" class="before-img">
                                        <img src="/img/search2.png" alt="img" class="after-img">
                                    </a>
                                </td>
                            </tr>
                            <tr class="payment payment-bottom">
                                <td>결제 완료</td>
                                <td>신용카드</td>
                                <td>010-1234-1234</td>
                            </tr>
                            <tr class="payment payment-top">
                                <td rowspan="2">1000000005</td>
                                <td colspan="2">12345678912345678</td>
                                <td rowspan="2">2020-02-02 20:20:20</td>
                                <td rowspan="2">TEST1234</td>
                                <td>홍길동</td>
                                <td rowspan="2">1,000</td>
                                <td rowspan="2">10,000 원</td>
                                <td rowspan="2">10,000 원</td>
                                <td rowspan="2">10,000 P</td>
                                <td rowspan="2">10,000 P</td>
                                <td rowspan="2">-</td>
                                <td rowspan="2">
                                    <button type="button" class="icon-button">
                                        <img src="/img/receipt.png" alt="img" class="before-img">
                                        <img src="/img/receipt2.png" alt="img" class="after-img">
                                    </button>
                                </td>
                                <td rowspan="2">
                                    <a href="ip-order-correction.html" class="icon-button2">
                                        <img src="/img/search.png" alt="img" class="before-img">
                                        <img src="/img/search2.png" alt="img" class="after-img">
                                    </a>
                                </td>
                            </tr>
                            <tr class="payment payment-bottom">
                                <td>결제 완료</td>
                                <td>신용카드</td>
                                <td>010-1234-1234</td>
                            </tr>
                            <tr class="payment payment-top">
                                <td rowspan="2">1000000005</td>
                                <td colspan="2">12345678912345678</td>
                                <td rowspan="2">2020-02-02 20:20:20</td>
                                <td rowspan="2">TEST1234</td>
                                <td>홍길동</td>
                                <td rowspan="2">1,000</td>
                                <td rowspan="2">10,000 원</td>
                                <td rowspan="2">10,000 원</td>
                                <td rowspan="2">10,000 P</td>
                                <td rowspan="2">10,000 P</td>
                                <td rowspan="2">-</td>
                                <td rowspan="2">
                                    <button type="button" class="icon-button">
                                        <img src="/img/receipt.png" alt="img" class="before-img">
                                        <img src="/img/receipt2.png" alt="img" class="after-img">
                                    </button>
                                </td>
                                <td rowspan="2">
                                    <a href="ip-order-correction.html" class="icon-button2">
                                        <img src="/img/search.png" alt="img" class="before-img">
                                        <img src="/img/search2.png" alt="img" class="after-img">
                                    </a>
                                </td>
                            </tr>
                            <tr class="payment payment-bottom">
                                <td>결제 완료</td>
                                <td>신용카드</td>
                                <td>010-1234-1234</td>
                            </tr>
                            <tr class="payment payment-top">
                                <td rowspan="2">1000000005</td>
                                <td colspan="2">12345678912345678</td>
                                <td rowspan="2">2020-02-02 20:20:20</td>
                                <td rowspan="2">TEST1234</td>
                                <td>홍길동</td>
                                <td rowspan="2">1,000</td>
                                <td rowspan="2">10,000 원</td>
                                <td rowspan="2">10,000 원</td>
                                <td rowspan="2">10,000 P</td>
                                <td rowspan="2">10,000 P</td>
                                <td rowspan="2">-</td>
                                <td rowspan="2">
                                    <button type="button" class="icon-button">
                                        <img src="/img/receipt.png" alt="img" class="before-img">
                                        <img src="/img/receipt2.png" alt="img" class="after-img">
                                    </button>
                                </td>
                                <td rowspan="2">
                                    <a href="ip-order-correction.html" class="icon-button2">
                                        <img src="/img/search.png" alt="img" class="before-img">
                                        <img src="/img/search2.png" alt="img" class="after-img">
                                    </a>
                                </td>
                            </tr>
                            <tr class="payment payment-bottom">
                                <td>결제 완료</td>
                                <td>신용카드</td>
                                <td>010-1234-1234</td>
                            </tr>
                        </tbody>
                    </table>                    
                </div>
                <div class="table-bottom">
                    <div class="page-nav">
                        <button type="button"><span>이미지</span></button>
                        <button type="button"><span>이미지</span></button>
                        <button type="button" class="active3">1</button>
                        <button type="button">2</button>
                        <button type="button"><span>이미지</span></button>
                        <button type="button"><span>이미지</span></button>
                    </div>
                    <div class="table-select-wrap">
                        <div class="table-main-btn">
                            <button type="button">10개씩 보기</button>
                            <p><img src="/img/select-arrow.png" class="rotate-img2" alt="select arrow icon"></p>
                        </div>
                        <div class="table-select">
                            <button type="button" class="defalt3">10개씩 보기</button>
                            <button type="button">50개씩 보기</button>
                            <button type="button">100개씩 보기</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
<!--    <script src="/js/select.js"></script>-->
<!--    <script src="/js/date.js"></script>-->
<!--    <script src="/js/date2.js"></script>-->
<!--    <script src="/js/date-select.js"></script>-->
<!--    <script src="/js/date-select2.js"></script>-->
<!--    <script src="/js/check.js"></script>-->
</body>
</html>
