<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testLogin</title>
</head>

<body>

<form action="/loginProc" method="post">
    <label for="username">이름 : </label>
    <input type="text"  id="username" name="username" />
    <label for="password">비번 : </label>
    <input type="password" id="password" name="password" /> <label for="password">이름</label>
<button>로그인</button>
</form>


<br />

<h1>Social Login</h1>
<br />
<!-- javascript:; 는 클릭해도 반응을 없게 하는 키워드 -->
<a href="/oauth2/authorization/google" >
    구글 로그인
</a>
<br />
<a href="/oauth2/authorization/facebook">
    페이스북 로그인
</a>
<br />

<a href="/oauth2/authorization/naver">
    네이버 로그인
</a>
<br />
</body>
</html>