<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="date-popup-wrap" th:fragment="date-popup">
    <input id="year" type="hidden" value="0">
    <input id="month" type="hidden" value="0">
    <input id="day" type="hidden" value="0">
    <input id="hour" type="hidden" value="0">
    <input id="minute" type="hidden" value="0">
    <input id="second" type="hidden" value="0">
    <div class="date-year">
        <button type="button" class="date-left" onclick="dayArrow('left')"><img src="/img/date1.png" alt="left arrow"></button>
        <div class="date-year-select-wrap">
            <div>
                <button class="year-btn" type="button" onclick="selectBoxToggle(this)">2023</button>
                <p><img src="/img/down.png" class="rotate-img" alt="down arrow"></p>
            </div>
            <div>
                <button class="month-btn" type="button" onclick="selectBoxToggle(this)">10월</button>
                <p><img src="/img/down.png" class="rotate-img" alt="down arrow"></p>
            </div>
        </div>
        <button type="button" class="date-right" onclick="dayArrow('right')"><img src="/img/date2.png" alt="right arrow"></button>
    </div>
    <div class="year year-select"></div>
    <div class="month month-select">
        <button class="month-btn" th:each="i : ${#numbers.sequence(1,12)}" type="button" th:text="${i + '월'}" onclick="datePick(this)"></button>
    </div>
    <div class="date-table">
        <ul>
            <li>일</li>
            <li>월</li>
            <li>화</li>
            <li>수</li>
            <li>목</li>
            <li>금</li>
            <li>토</li>
        </ul>
        <ul class="days">
            <li th:each="i : ${#numbers.sequence(1,31)}" th:text="${i}" class="date-num" th:value="${i}" onclick="dayPick(this)"></li>
        </ul>
    </div>
    <div class="date-time">
        <div>
            <button class="hour-btn" type="button" onclick="selectBoxToggle(this)">00</button>
            <p><img src="/img/down.png" class="rotate-img" alt="down arrow"></p>
        </div>
        <p>시</p>
        <div>
            <button class="minute-btn" type="button" onclick="selectBoxToggle(this)">00</button>
            <p><img src="/img/down.png" class="rotate-img" alt="down arrow"></p>
        </div>
        <p>분</p>
        <div>
            <button class="second-btn" type="button" onclick="selectBoxToggle(this)">00</button>
            <p><img src="/img/down.png" class="rotate-img" alt="down arrow"></p>
        </div>
        <p>초</p>
    </div>
    <div class="hour">
        <th:block th:each="i : ${#numbers.sequence(1,24)}">
            <button class="hour-btn" th:if="${i &lt; 10}" th:text="${#strings.concat('0', i)}" type="button" onclick="datePick(this)"></button>
            <button class="hour-btn" th:if="${i &gt; 10}" th:text="${i}" type="button" onclick="datePick(this)"></button>
        </th:block>
    </div>
    <div class="minute">
        <th:block th:each="i : ${#numbers.sequence(1,60)}">
            <button class="minute-btn" th:if="${i &lt; 10}" th:text="${#strings.concat('0', i)}" type="button" onclick="datePick(this)"></button>
            <button class="minute-btn" th:if="${i &gt; 10}" th:text="${i}" type="button" onclick="datePick(this)"></button>
        </th:block>
    </div>
    <div class="second">
        <th:block th:each="i : ${#numbers.sequence(1,60)}">
            <button class="second-btn" th:if="${i &lt; 10}" th:text="${#strings.concat('0', i)}" type="button" onclick="datePick(this)"></button>
            <button class="second-btn" th:if="${i &gt; 10}" th:text="${i}" type="button" onclick="datePick(this)"></button>
        </th:block>
    </div>
    <div class="date-btn">
        <button type="button" onclick="selectDate()">확인</button>
        <button type="button" onclick="datePopupCancel(this)">취소</button>
    </div>

    <script src="/js/date-popup.js"></script>
</div>