<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header id="header" th:fragment="header">
    <div class="gnb-title">
        <h1><a id="" href="main"><img src="/img/logo2.png" alt="HotVPN logo"></a></h1>
        <p>VPN 관리 솔루션</p>
    </div>
    <div class="gnb">
        <button id="settings" type="button" class="menu-btn" onclick="menuToggle(this)">환경설정<img src="/img/gnb-down.png" alt="menu arrow"></button>
        <div class="menu">
            <p><a id="basic" onclick="subMenuClick(this)">기본 환경설정</a></p>
            <p><a id="manage" onclick="subMenuClick(this)">관리자 관리</a></p>
            <p><a id="authority" onclick="subMenuClick(this)">관리자 권한 설정</a></p>
            <p><a id="program" onclick="subMenuClick(this)">프로그램 업데이트</a></p>
            <p><a id="pg" onclick="subMenuClick(this)">PG 설정</a></p>
        </div>
        <button id="order" type="button" class="menu-btn" onclick="menuToggle(this)">주문관리<img src="/img/gnb-down.png" alt="menu arrow"></button>
        <div class="menu">
            <p><a id="order-vpn-history" onclick="subMenuClick(this)">VPN 서비스 주문 내역</a></p>
            <p><a id="order-ticket-history" onclick="subMenuClick(this)">아이피 교체권 주문 내역</a></p>
            <p><a id="order-cancel" onclick="subMenuClick(this)">결제 취소 내역</a></p>
            <p><a id="order-fail" onclick="subMenuClick(this)">결제 실패 내역</a></p>
        </div>
        <button id="service" type="button" class="menu-btn" onclick="menuToggle(this)">서비스 관리<img src="/img/gnb-down.png" alt="menu arrow"></button>
        <div class="menu">
            <p><a id="service-manage" onclick="subMenuClick(this)">VPN 서비스 관리</a></p>
            <p><a id="service-history" onclick="subMenuClick(this)">VPN 서비스 변경 내역</a></p>
        </div>
        <button id="members" type="button" class="menu-btn" onclick="menuToggle(this)">고객 관리<img src="/img/gnb-down.png" alt="menu arrow"></button>
        <div class="menu">
            <p><a id="member" onclick="subMenuClick(this)">회원 관리</a></p>
            <p><a id="ticket-manage" onclick="subMenuClick(this)">아이피 교체권 관리</a></p>
            <p><a id="point" onclick="subMenuClick(this)">포인트 관리</a></p>
        </div>
        <p><a id="vpn-log" class="menu-btn single-menu" onclick="subMenuClick(this)">VPN 접속 로그</a></p>
        <button id="state" class="menu-btn" onclick="menuToggle(this)">VPN 현황<img src="/img/gnb-down.png" alt="menu arrow"></button>
        <div class="menu">
            <p><a id="vpn-fix" onclick="subMenuClick(this)">고정 VPN 현황</a></p>
            <p><a id="vpn-flow" onclick="subMenuClick(this)">유동 VPN 현황</a></p>
        </div>
        <button id="sms" type="button" class="menu-btn" onclick="menuToggle(this)">SMS 관리<img src="/img/gnb-down.png" alt="menu arrow"></button>
        <div class="menu">
            <p><a id="sms-setting" onclick="subMenuClick(this)">SMS 설정</a></p>
            <p><a id="sms-send" onclick="subMenuClick(this)">SMS 발송</a></p>
            <p><a id="sms-history" onclick="subMenuClick(this)">SMS 발송 내역</a></p>
        </div>
        <button id="center" type="button" class="menu-btn" onclick="menuToggle(this)">고객센터<img src="/img/gnb-down.png" alt="menu arrow"></button>
        <div class="menu">
            <p><a id="notice" onclick="subMenuClick(this)">공지사항</a></p>
            <p><a id="inquiry" onclick="subMenuClick(this)">1:1문의</a></p>
            <p><a id="faq" onclick="subMenuClick(this)">FAQ</a></p>
        </div>
        <p><a id="sales" class="menu-btn single-menu" onclick="subMenuClick(this)">매출 통계</a></p>
    </div>
    <script src="/js/header.js"></script>
</header>