<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <form id="myForm" action="/ipRead" method="post">
    <input type="text" name="srvrNo" placeholder="서버 번호">
    <input type="text" name="srvrNm" placeholder="서버 이름">
    <input type="text" name="srvrIp" placeholder="서버 아이피">
    <input type="submit" value="조회" onclick="submitHandler()">
  </form>

</head>
<body>
  <script>
    function submitHandler() {
      const formData = new FormData(document.getElementById('myForm'));
      // const formData = new FormData(document.querySelector('#myForm'));

      const plainFormData = {};
      formData.forEach(function(value, key) {
        plainFormData[key] = value;
      });

      const jsonData = JSON.stringify(plainFormData);

      console.log("jsonData: ", jsonData)

    }

    // function ipInfoRead() {
    //   fetch(window.location.origin + "/ipInfo", {
    //     method: "POST",
    //     headers: {
    //       'Content-Type': 'application/json'
    //     },
    //     body: JSON.stringify(_data)
    //   }).then(function (resp) {
    //
    //   });
    // }
  </script>
</body>
</html>